<div>
    <h2>Behind the Scenes!</h2>
    
    <!-- <img scr="https://media4.giphy.com/media/VbnUQpnihPSIgIXuZv/giphy.gif?cid=ecf05e47grdnr7nz5h7dxru76i8tfgtonj62i1sr3gp7s30b&rid=giphy.gif&ct=g" alt="https://media4.giphy.com/media/VbnUQpnihPSIgIXuZv/giphy.gif?cid=ecf05e47grdnr7nz5h7dxru76i8tfgtonj62i1sr3gp7s30b&rid=giphy.gif&ct=g"/> -->
    <iframe src="https://giphy.com/embed/VbnUQpnihPSIgIXuZv" width="384" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/computer-cat-wearing-glasses-VbnUQpnihPSIgIXuZv">via GIPHY</a></p>
    <p>^ Actual footage of me learning Angular ^</p>

</div>
